<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-sms-sender"
        version="1.0.0">
    <name>Share Content Cordova Plugin</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords>cordova,share,content</keywords>
    <repo></repo>
    <issue></issue>
    <engines>
        <engine name="cordova-plugman" version=">=4.2.0"/>
    </engines>

    <js-module src="www/sharecontentplugin.js" name="ShareContentPlugin">
        <merges target="shareContentPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ShareContentPlugin" >
                <param name="android-package" value="com.ferdinandsilva.android.ShareContentPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/ShareContentPlugin.java" target-dir="src/com/ferdinandsilva/android" />
    </platform>

    <platform name="ios">
        <hook type="after_plugin_install" src="scripts/add_swift_support.js" />

        <config-file target="config.xml" parent="/*">
          <feature name="ShareContentPlugin">
            <param name="ios-package" value="ShareContentPlugin"/>
          </feature>
        </config-file>

        <header-file src="src/ios/ShareContentPlugin-Bridging-Header.h" />
        <source-file src="src/ios/ShareContentPlugin.swift"/>

    </platform>

</plugin>